:root{
--color-main: #2E2F42;
 --color-dark: #434455;
--secondary-color: #FFFFFF;
--color-light: #4D5AE5;
--fist-color: #404BBF;
--color-text: #F4F4FD;
 --color-footer-text: #E7E9FC;
}
body{
font-family: 'Roboto', sans-serif;
color: var(--color-dark)
}
/* Header style */
.head{
background-color: var(--secondary-color);
}
.link{
    text-decoration: none;
    font-family: inherit;
}
.link:hover{
    color: var(--color-light);
}
.link:focus{
    color: var(--color-light);
}
.list{
    list-style: none;
}
.btn{
background: var(--color-light);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: inherit;
cursor: pointer;
}
.btn:hover{
    color: var(--color-light);
}
.btn:focus{
    color: var(--fist-color);
}
.logo{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-light);
}
.logo-type{
font-family: 'Raleway', sans-serif;
font-weight: 800;
font-size: 18px;
line-height: 1.33;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-main);
}
.header-list{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-main);
}
.header-contacts{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-dark);
}
/* Hero style */
.hero{
background: var(--color-main);
}
.hero-item{
font-weight: 600;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
color: var(--secondary-color);
}
.hero-btn{
font-weight: 600;
font-size: 16px;
line-height: 1.18;
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: var(--secondary-color);
}
/* Advantages */
.hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;   
}
.features-header {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-main);
}
.features-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-dark);
}
/* Works */
.works-item {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-main);
}
/* ______________________TEAM___________________ */
.team {
    background: var(--color-text);
}
.team-header {
font-weight: 600;
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-main);
}
.works-name{
font-weight: 600;
font-size: 20px;
line-height: 1.2;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-main);
background-color: var(--secondary-color);
}
.team-text {
font-size: 16px;
line-height: 1.5;
text-align: center;
letter-spacing: 0.02em;
color: var(--color-dark);
background-color: var(--secondary-color);
}
.footer {
background: var(--color-main);
}
.text {
    font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-light);
}
.text-type {
font-weight: 800;
font-size: 18px;
line-height: 1.16;
display: flex;
align-items: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--color-text);
}
.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-footer-text);
}
/* ______________________________PORTFOLIO________________________________ */
.content {
}
.content-list {
}
.list {
}
.content-list-item {
}
.content-btn-all{
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--secondary-color);
}
.content-btn-all:hover{
    background-color: var(--color-light);
    color: var(--secondary-color);

}
.content-btn {
font-weight: 600;
font-size: 16px;
line-height: 1.5;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.04em;
color: var(--color-light);
background: var(--color-text);
border: 1px solid var(--color-footer-text)
}
.content-btn:hover{
    color:var(--secondary-color);
    background-color: var(--color-light);
}
.content-btn:focus{
   color: var(--fist-color);
}
/* _____________________________________PROJECTS___________________________ */
.information-list-item {

}
.information{
}
.projects {
font-weight: 600;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-main);
}
.text-top {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-dark);
}
.text-bottom {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--color-text);
}



